@use "../../variables" as vars;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0 0 0;
}

.item,
.button,
.toggle {
  width: 100%;
}

.toggle {
  text-align: start;
}
