@for (menuSection of sideMenuData?.sections; track $index) {
<mat-expansion-panel class="panel">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ menuSection.title ?? LocIds.Unknown | translate }}</mat-panel-title>
  </mat-expansion-panel-header>
  @for (menuItem of menuSection.items; track $index) {
  <div class="item">
    @if (menuItem.type === MenuItemType.Separator) {
    <div class="separator">
      <mat-divider></mat-divider>
    </div>
    } @else if (menuItem.type === MenuItemType.Toggle) {
    <mat-slide-toggle
      class="toggle"
      labelPosition="after"
      [checked]="sideMenuData?.values?.[menuItem?.id ?? 'unknown_id'] ?? true"
      [disabled]="false"
      [matTooltip]="menuItem.tooltip ?? LocIds.Unknown | translate"
      (change)="onToggleChange($event, menuItem)"
      ><span class="toggle-label">{{ menuItem.label ?? LocIds.Unknown | translate }}</span></mat-slide-toggle
    >} @else {
    <app-button
      [label]="menuItem.label ?? LocIds.Unknown | translate"
      [icon]="menuItem.icon"
      [shortcut]="menuItem.shortcut"
      [tooltip]="menuItem.tooltip ?? LocIds.Unknown | translate"
      (onClick)="onButtonClick(menuItem)"
      [width]="'100%'"
    ></app-button>
    }
  </div>
  }
</mat-expansion-panel>
}
