@let isLoading = isLoading$ | async; @let imageIsLoaded = imageIsLoaded$ |
async;

<div #container class="container">
  <div [classList]="isLoading && !imageIsLoaded ? 'd-block' : 'd-none'">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div [classList]="imageIsLoaded && !isLoading ? 'd-flex' : 'd-none'">
    <app-pan-zoom-canvas
      #canvas
      [calcSizeFunc]="mapCanvasData?.calcSizeFunc"
      [width]="mapCanvasData?.canvasWidth"
      [height]="mapCanvasData?.canvasHeight"
      [disableMouseEvents]="disableMouseEvents"
    ></app-pan-zoom-canvas>
  </div>
  <div [classList]="!imageIsLoaded && !isLoading ? 'd-block' : 'd-none'">
    <span>No map data.</span>
  </div>
</div>
