@use "@angular/material" as mat;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$orange-palette,
      density: 0,
    )
  );
  font-family: sans-serif, "Roboto";
  height: 100vh;
  overflow: hidden;
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
