@use "@angular/material" as mat;

@property --_w {
  syntax: "<length>";
  inherits: true;
  initial-value: 100vw;
}
@property --_h {
  syntax: "<length>";
  inherits: true;
  initial-value: 100vh;
}
:root {
  --w: tan(atan2(var(--_w), 1px)); /* screen width */
  --h: tan(atan2(var(--_h), 1px)); /* screen height */
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif, "Roboto";
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
        tertiary: mat.$cyan-palette,
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );
}

body.dark-mode {
  color-scheme: dark;
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.mat-expansion-panel {
  .mat-expansion-panel-header {
    padding: 0 12px;
  }

  .mat-expansion-panel-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0 12px 8px;

    .item {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
}

.separator {
  width: 100%;
  margin: 0.5rem 0;

  &-vertical {
    height: 30px;
    margin: 0 0.5rem;
    width: var(--mat-divider-width, 1px);
    color: var(--mat-divider-color, var(--mat-sys-outline));
  }
}
