<ng-template #buttonContent>
  <div class="button-content">
    @if (icon) {
    <span class="button-content-icon">
      <mat-icon>{{ icon }}</mat-icon>
    </span>
    } @if (label || shortcut) {
    <div
      class="button-content-label"
      [style.justify-content]="shortcut ? 'space-between' : 'center'"
    >
      @if (label) {<span>{{ label }}</span
      >} @if (shortcut) { <span>({{ shortcut }})</span> }
    </div>
    }
  </div>
</ng-template>

@if (isMini) {
<button
  type="button"
  mat-fab
  (click)="click($event)"
  [matTooltip]="tooltip"
  [ariaLabel]="label"
  [title]="label"
  [disabled]="isDisabled"
  [style.width]="width"
  [style.height]="height"
  [style.min-width]="minWidth"
  [style.min-height]="minHeight"
  [color]="color"
>
  <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
</button>
} @else {
<button
  type="button"
  mat-flat-button
  (click)="click($event)"
  [matTooltip]="tooltip"
  [ariaLabel]="label"
  [title]="label"
  [disabled]="isDisabled"
  [style.width]="width"
  [style.height]="height"
  [style.min-width]="minWidth"
  [style.min-height]="minHeight"
  [color]="color"
>
  <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
</button>
}
