@use "../../variables" as vars;

:host {
  overflow-wrap: break-word;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &-label {
    text-align: start;
  }

  &-icon {
    display: flex;
    align-items: center;
    width: max-content;
  }

  &-label {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

button {
  padding: 4px;

  ::ng-deep .mdc-button__label {
    width: 100%;
  }

  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
