@use "../../variables" as vars;

:host {
  overflow-wrap: break-word;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &-label {
    text-align: start;
  }

  &-icon {
    display: flex;
    align-items: center;
    width: max-content;
  }

  &-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
  }
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
