@use 'variables' as vars;

.editor-container,
.toolbar,
.sidebar,
.map-area,
.inspector,
.footer {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.editor-container {
  display: grid;
  grid-template-rows: vars.$toolbar-height auto vars.$footer-height;
  grid-template-columns: vars.$side-menu-width auto vars.$inspector-menu-width;
  grid-template-areas:
    'toolbar toolbar toolbar'
    'sidebar map-area inspector'
    'footer footer footer';
  height: 100%;

  .toolbar {
    grid-area: toolbar;
    display: flex;
    align-items: center;
    padding: vars.$padding;
    border-bottom: vars.$border;
    height: vars.$toolbar-height;
    z-index: vars.$toolbar-z-index;
  }

  .sidebar {
    grid-area: sidebar;
    padding: vars.$bar-padding;
    border-right: vars.$border;
    height: vars.$bar-height;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    z-index: vars.$sidebar-z-index;
  }

  .map-area {
    grid-area: map-area;
  }

  .inspector {
    display: flex;
    flex-direction: column;
    grid-area: inspector;
    height: vars.$bar-height;
    padding: 0.25rem 1rem;
    border-left: vars.$border;
  }

  .footer {
    grid-area: footer;
    height: vars.$footer-height;
    border-top: vars.$border;
    padding: vars.$padding;
    z-index: vars.$footer-z-index;
  }
}
