@use "variables" as vars;

.editor-container {
  display: grid;
  grid-template-rows: vars.$toolbar-height auto vars.$footer-height;
  grid-template-columns: vars.$side-menu-width auto;
  grid-template-areas:
    "toolbar toolbar"
    "sidebar map-area"
    "footer footer";
  height: 100%;

  .toolbar {
    // background-color: $background-color;
    grid-area: toolbar;
    display: flex;
    align-items: center;
    padding: vars.$padding;
    border-bottom: vars.$border;
    height: vars.$toolbar-height;
    z-index: vars.$toolbar-z-index;
  }

  .sidebar {
    // background-color: $background-color;
    grid-area: sidebar;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    border-right: vars.$border;
    height: calc(
      99vh - vars.$toolbar-height - vars.$footer-height -
        (vars.$border-size * 2)
    );
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    z-index: vars.$sidebar-z-index;
  }

  .map-area {
    // background-color: $map-area-color;
    grid-area: map-area;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    // background-color: $background-color;
    grid-area: footer;
    height: vars.$footer-height;
    border-top: vars.$border;
    padding: vars.$padding;
    z-index: vars.$footer-z-index;
  }
}
