<div class="editor-container">
  <header class="toolbar">
    <app-toolbar
      [toolbarData]="toolbarData"
      (onToolbarButtonClick)="onToolbarButtonClick($event)"
      (onToolbarToggleChange)="onToolbarToggleChange($event)"
    ></app-toolbar>
  </header>

  <aside class="sidebar">
    <app-side-menu
      [sideMenuData]="sideMenuData$ | async"
      (onMenuItemButtonClick)="onMenuItemButtonClick($event)"
      (onMenuItemToggleChange)="onMenuItemToggleChange($event)"
    ></app-side-menu>
  </aside>

  <main class="map-area">
    <app-map-canvas
      #mapCanvas
      [mapCanvasData]="mapCanvasData$ | async"
    ></app-map-canvas>
  </main>

  <aside class="inspector">
    <app-inspector></app-inspector>
    <app-mini-map [mapCanvasData]="minimapCanvasData$ | async"></app-mini-map>
  </aside>

  <footer class="footer">
    <app-footer
      [themeMode]="(themeMode$ | async) ?? ThemeMode.Light"
      (onThemeModeChanged)="onThemeModeChanged($event)"
    ></app-footer>
  </footer>
</div>
