@use "../../variables" as vars;

.button-content {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;

  &-label {
    text-align: start;
  }

  &-icon {
    display: flex;
    align-items: center;
    width: max-content;
  }
}

button {
  cursor: pointer;
}
