@if (modalData.title) {
<h2 mat-dialog-title>{{ modalData.title }}</h2>
}

<mat-dialog-content>
  <ng-container
    *ngComponentOutlet="modalData.component; injector: modalData.data"
  ></ng-container>
</mat-dialog-content>

<mat-dialog-actions class="buttons">
  @for (button of modalData.buttons || defaultButtons; track $index) {
  <app-button
    [icon]="button.icon"
    [label]="button.label | translate"
    [color]="button.color"
    (onClick)="onButtonClick(button)"
  ></app-button>
  }
</mat-dialog-actions>
