<div class="title">
  <h1>{{ LocIds.EditorTitle | translate }}</h1>
</div>
<div class="items">
  @for (menuItem of toolbarData?.items; track $index) { @if (menuItem.type ===
  MenuItemType.Toggle) {
  <mat-slide-toggle
    class="toggle"
    labelPosition="after"
    [checked]="toolbarData?.values?.[menuItem?.id ?? 'unknown_id'] ?? true"
    [disabled]="false"
    [matTooltip]="menuItem.tooltip"
    (change)="onToggleChange($event, menuItem)"
    ><span class="toggle-label">{{
      menuItem.label ?? LocIds.Unknown | translate
    }}</span></mat-slide-toggle
  >
  } @else if (menuItem.type === MenuItemType.Separator) {
  <div class="separator-vertical"></div>
  } @else {
  <app-button
    [label]="menuItem.label ?? LocIds.Unknown | translate"
    [icon]="menuItem.icon"
    [shortcut]="menuItem.shortcut"
    [tooltip]="menuItem.tooltip"
    (onClick)="onButtonClick(menuItem)"
  ></app-button>
  } }
</div>
